<aside class="contact-form">
  <div class="input-wrapper">
    <input type="text" required/>
    <label>Name</label>
  </div>
  <div class="input-wrapper">
    <input type="email" required/>
    <label>Email</label>
  </div>
  <div class="select-wrapper">
    <select>
      <option value="">I'm interested in</option>
      <option value="">Design</option>
      <option value="">Manufacturing</option>
      <option value="">Capabilities</option>
      <option value="">Services</option>
      <option value="">Other</option>
    </select>
  </div>
  <div class="textarea-wrapper">
    <label>Message</label>
    <textarea required></textarea>
  </div>
  <div class="contact-form-btn-wrapper">
    <input type="submit" />
  </div>
</aside>