<ul class="tiled-list-component design-list">
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/list-items/item8a.jpg)" class="img"></div>
    <h5>Discuss some stuff with you</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
  </li>
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/list-items/item7.png)" class="img"></div>
    <h5>Do some more stuff with you</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
  </li>
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/list-items/item9a.jpg)" class="img"></div>
    <h5>Finalize the final stuff and smile</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
  </li>
</ul>