<ul class="tiled-list-component">
  <li>
    <a href="#">
      <img src="assets/list-items/item8.png"/>
      <h5>Discuss some stuff with you</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="assets/list-items/item7.png"/>
      <h5>Do some more stuff with you</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="assets/list-items/item9.png"/>
      <h5>Finalize the final stuff and smile</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
    </a>
  </li>
</ul>