<footer class="main-footer clearfix">

  <div class="right">
    <ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Careers</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Product Data Sheets</a></li>
      <li><a href="#">Conflict Minerals Policy</a></li>
      <li><a href="#">ISO 9001</a></li>
      <li><a href="#">Terms & Conditions</a></li>
    </ul>
  </div>
  <div class="left">
    <p><span>CMI</span> Central Midori International</p>
    <p>Singapore | Germany | USA</p>
    <p class="small">&copy; 2017 Central-Midori (Int'l) Pte Ltd. All Rights Reserved</p>
  </div>
</footer>