<head>
  <meta charset="utf-8">
  <title>Central Midori</title>
  <!--<base href="/"/>-->
  <base href="/central-midori/"/>
  <meta name="description" content="Central Midori">
  <meta name="author" content="Stephen Young">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://use.fontawesome.com/dc9c2f2973.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

  <script src="vendor/sss/sss.min.js"></script>
  <link rel="stylesheet" href="vendor/sss/sss.css" type="text/css" media="all">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
  <script src="/js/scripts.js"></script>
</head>