<ul class="tiled-list-component @@className">
  <li>
    <a href="product/flexible-printed-electronics">
      <img src="assets/industrial.jpg"/>
      <h5>Industial</h5>
      <p>Central-Midori has served the Industrial market with membrane switch Human-Machine-Interface since its creation in 1988.</p>
    </a>
  </li>
  <li>
    <a href="product/flexible-printed-electronics">
      <img src="assets/instrumentation.jpg"/>
      <h5>Instrumentation</h5>
      <p>In the last ten years green regulations and initiatives have fueled a rapid growth in environmental and analytical instrumentation.</p>
    </a>
  </li>
  <li>
    <a href="product/flexible-printed-electronics">
      <img src="assets/medical.jpg"/>
      <h5>Medical</h5>
      <p>Over the years medical has proven to be a very successful market for Central Midori technologies.</p>
    </a>
  </li>
  <li>
    <a href="product/flexible-printed-electronics">
      <img src="assets/banking-payment.jpg"/>
      <h5>Banking/Payment</h5>
      <p>Under PCI 3.0 -- the new Payment Card Industry (PCI) standards for network security</p>
    </a>
  </li>
</ul>