<ul class="product-list-component @@className">
  <li>
    <a href="#">
      <img src="assets/list-items/item1.png"/>
      <h5>Flexible Circuit</h5>
      <p>A technology with the potential to revolutionize electronics as we know it</p>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="assets/list-items/item2.png"/>
      <h5>Light Guides</h5>
      <p>Designed to provide a uniform illumination with a minimum number of LEDs</p>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="assets/list-items/item3.png"/>
      <h5>Membrane Switch</h5>
      <p>Expert in design, engineering and manufacturing of customize membrane switches.</p>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="assets/list-items/item4.png"/>
      <h5>Graphic Overlays</h5>
      <p>Color matching capabilities consistently guarantee your brand recognition.</p>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="assets/list-items/item5.png"/>
      <h5>Security Foil</h5>
      <p>3D multi-directional protextion against physical intrusion.</p>
    </a>
  </li>
  <li>
    <a href="#">
      <img src="assets/list-items/item6.png"/>
      <h5>Force Sensors</h5>
      <p>Pressure sensitive ink formulation is customized to meet the application requirements</p>
    </a>
  </li>
  <li class="image-only" style="background-image: url('assets/screenprinting2.JPG"');"></li>
  <li>
    <a href="#">
      <img src="assets/list-items/printedbattery.jpg"/>
      <h5>Printed Battery</h5>
      <p>Enfucell SoftBattery® is a disposable, thin and flexible printed power source for devices.</p>
    </a>
  </li>
  <li class="image-only" style="background-image: url('assets/laser_cutting.jpg');"></li>
</ul>