<!doctype html>
<html lang="en">
  <head>
    <!-- META TAGS-->
    <title>Manufacturing - Central Midori International (CMI)</title>
    <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
    <meta property="og:title" content="Manufacturing - Central Midori International (CMI)">
    <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
    <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
    <meta property="og:url" content="http://www.central-midori.com.sg/manufacturing">

    <meta name="twitter:title" content="Manufacturing - Central Midori International (CMI)">
    <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
    <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <partial src="_head.html"></partial>
  </head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="manufacturing"></partial>

    <section class="manufacturing-section">
      <nav class="sub-nav">
        <ul>
          <li>
            <a href="/manufacturing/#printing">Printing</a>
          </li>
          <li>
            <a href="/manufacturing/#color-mixing">Color Mixing</a>
          </li>
          <li>
            <a href="/manufacturing/#embossing">Embossing</a>
          </li>
          <li>
            <a href="/manufacturing/#lamination">Lamination</a>
          </li>
          <li>
            <a href="/manufacturing/#mounting">Mounting</a>
          </li>
          <li>
            <a href="/manufacturing/#integration">Integration</a>
          </li>
        </ul>
      </nav>

      <!-- HEADER -->
      <div class="main-header-image"></div>

      <!-- SUB HEADER-->
      <article class="standard-article regular-padding">
        <span class="dashed-header">&#8212; what we provide &#8212;</span>
        <h1 class="animated pulse">Manufacturing</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>

      <span id="printing"></span>
      <!-- PRINTING -->
      <article class="standard-article gray clearfix">
        <h2>Printing</h2>
        <img src="assets/services/assets/image-placeholder-500x500.jpg" class="small pull-left"/>
        <p>With more than 25 years of experience in precision screen printing, Central Midori has continuously improved its printing techniques to achieve smaller features on thinner material with high speed and accuracy.

          We process our stencils internally using liquid emulsion or capillary film. Our most common mesh is made of monofilament polyester but we also use stainless steel for certain applications. Mesh count can vary from 100 to 420 thread per in.

          CMI was a pioneer in the development of through-hole printing in the early 1990's. All of our printing processes take place in clean rooms with temperature and humidity control.</p>

        <div class="specifications-article special-width gray">
          <ul>
            <li><span>Max printing size:</span> 560 X 500</li>
            <li><span>Semi-automatic Japanese-made printing machines</span></li>
            <li><span>Thermal curing (convection and IR) and UV curing</span></li>
            <li><span>Screen stretched at:</span> 23N/mm +/- 2</li>
            <li><span>Stencil:</span> Coated Emulsion (thickness: 4 to 40μm) or Capillary film (available from 15 to 80μm)</li>
            <li><span>Mesh material:</span> Monofilament Polyester or Stainless Steel.</li>
            <li><span>Mesh count:</span> 100 to 420 thread per inch</li>
            <li><span>Mesh angle:</span> 22.5 and 90</li>
            <li><span>Minimum trace width:</span> 150μm</li>
            <li><span>Minimum space width:</span> 300μm</li>
            <li><span>Ag ink thickness:</span> 7μm to 27μm</li>
            <li><span>Dielectric thickness:</span> 15μm to 20μm</li>
          </ul>
          <ul>
            <li><span>Printing accuracy:</span> +/- 0.1mm</li>
            <li><span>Layer to layer alignment:</span> +/- 0.1mm</li>
            <li><span>Through hole minimum diameter:</span> 0.1mm (3 holes in a 3mm pad recommended)</li>
            <li><span>Max layer counts:</span> 9 layers</li>
            <li><span>Space dot printing:</span> 0.2mm</li>
            <li><span>Printed materials:</span> Silver ink, Carbon graphite ink, UV curable dielectric, window protective coating, glue, Force sensing ink, tamper-proof ink</li>
            <li><span>Finishing:</span> Gloss, Matte, anti-glare</li>
            <li><span>Anti-wear catalyst</span></li>
            <li><span>Controlled resistance</span></li>
            <li><span>In house design with AutoCad, Adobe Illustrator, Color Draw and FreeHand</span></li>
            <li><span>Format accepted:</span> Dwg, DXF, PDF, AI, FH and CDR</li>
          </ul>
        </div>
      </article>

      <span id="color-mixing"></span>
      <!-- COLOR MIXING -->
      <article class="standard-article clearfix">
        <h2>Color Mixing</h2>

        <div class="slider standard-slider-component small pull-left">
          <img src="assets/capabilities/assets/slide001.jpg" />
          <img src="assets/capabilities/assets/slide002.jpg" />
          <img src="assets/capabilities/assets/slide003.jpg" />
          <img src="assets/capabilities/assets/slide004.jpg" />
        </div>
        <p>At Central Midori we know how important colors are for our customers. They represent your brand and stimulate the senses -- instantly conveying a message like no other communication method. Colors mean different things depending on your culture, geographical location or personal background. We take color mixing seriously. You would be surprised by how long it takes us to reach the perfect color mix.</p>
        <p>Halfway between a science and an art, mixing colors relies on long term experience. We are also using one of the most sophisticated high precision spectrophotometry to fine tune the formulation with a ΔE of 1.</p>
        <p>CMI has also developed an expertise in texture and surface pattern.</p>

        <p><em>Applying four color standards:</em> RAL, Pantone, NCS and DIC</p>

        <p>CMI also developed its own color library to guarantee repeatability.</p>

        <p><em>Finishes include:</em> gloss, matte, anti glare, anti-wear and embossed printing effects.</p>

        <p>The following standard illuminants are available to choose from when measuring color
          with our spectrophotometer: D65-10, D65-02, F02-10 (CWF)</p>
      </article>

      <span id="embossing"></span>
      <!-- EMBOSSING -->
      <article class="standard-article gray clearfix">
        <h2>Embossing</h2>
        <img src="assets/services/assets/image-placeholder-500x500.jpg" class="medium pull-right"/>
        <p>Traditionally, embossing heightens the key area
          of a graphic overlay or a membrane switch.</p>

        <p>At Central Midori there are 5 major types of embossing, as follow:</p>

        <h3>1- Heated Hard Tool Embossing</h3>
        <p>Using a customized male/female hard tool
        heated at around 85℃ the typical height is
        0.6mm+/- 0.1mm. Conventional polydomes
        are embossed that way and can withstand
        more than 1million actuation cycles. The
        process is compatible with graphic overlay
        and membrane switch, although special
        silver ink formulation is required for the latter.</p>

        <h3>2- Pillow and Rim Emboss</h3>
        <p>Performed with a male/female etched die at a lower temperature. Maximum height is 0.3mm +/- 0.1.</p>

        <h3>3- PIP Emboss</h3>
        <p>It consists of tiny embossed dimples typically used by people who are blind or visually impaired (Braille).</p>

        <h3>4- Multi-Height Embossing</h3>
        <p>This process requires an intricate tool of high geometric complexity and a narrow process window. Multiple heights can be achieved through tight process controls, the right substrate and ink formulation.</p>

        <h3>5- Debossing</h3>
        <p>Debossing is defined as a negative embossing. At Central Midori we can mount LED inside such formed cavity or depression.</p>

        <p>Either polyester and polycarbonate materials can be embossed. Polyester prefered thickness range between 50 and 200µm while polycarbonate is more readily embossed in thickness between 100 and 180µm.</p>
      </article>

      <span id="lamination"></span>
      <!-- LAMINATION -->
      <article class="standard-article clearfix">
        <h2>Lamination</h2>

        <div class="slider standard-slider-component small pull-left">
          <img src="assets/capabilities/assets/lamination001.jpg" />
          <img src="assets/capabilities/assets/lamination002.jpg" />
          <img src="assets/capabilities/assets/lamination003.jpg" />
        </div>

        <p>Many of our products are manufactured by laminating multiple layers of conductive and dielectric polymers together. The layers are held together with high performance Pressure Sensitive Adhesive.</p>

        <p>The lamination process guarantees the proper bonding and protect the final assembly from outside contaminants such as cleaners, detergents and solvent and also from hostile conditions like high temperature, humidity and moisture.</p>

        <p>No heat is necessary during the lamination process and consequently no thermal stress is applied to the product, which reduces thermal distortion. Our maximum lamination size is 550 X 400mm.</p>
      </article>

      <span id="mounting"></span>
      <!-- COMPONENT MOUNTING -->
      <article class="standard-article gray clearfix">
        <h2>Component Mounting</h2>

        <p>Central Midori assembly process consists of integrating electronic components, such as passive components or LEDs into our products using conductive adhesive technology. Our production process is made up of six stations.</p>
        <p>First is the dispensing of the chip bonding glue followed by the dispensing of a low temperature conductive epoxy adhesive. We use Juki high speed mounter to pick and place components at the rate of 19,300 per hour. Our adhesives are cured at low temperature (65℃) in a ventilated oven. For most of our applications a final component encapsulation is necessary to meet customer peel strength requirement. The last operation consists of the curing of the encapsulant.</p>
        <ul class="standard-list">
          <li>Max panel size: 400 X 360mmlow temperature component pick and place.jpg</li>
          <li>Peel strength (before encapsulant): 1.5 to 2.0 Kg</li>
        </ul>
        <img src="assets/capabilities/assets/assembly.jpg" class="medium pull-left"/>
        <h3>Termination and connector assembly</h3>
        <p>ZIF (Zero Insertion Force) connectors have become a popular
          solution. The connector is on the side of the board only.
          Our most common pitches are 1mm, 1.25mm, 1.27mm and
          2.54mm</p>
        <p>Insulation Displacement Connectors (IDC), also known as crimped connectors, are widely used in our industry. The contacts crimp through the dielectric material into the copper conductor. Housings are assembled after crimping. Central Midori offers a wide variety of crimped connectors including Nicomatic, FCI/Berg and Tyco/Amp.</p>
        <div class="spacer"></div>
        <img src="assets/capabilities/assets/dome.jpg" class="medium pull-left"/>
        <h3>Dome assembly</h3>
        <p>Tactile domes are sandwiched between the circuit and the overlay layer. A spacer layer holds the domes in their positions. Domes come in various shapes (i.e. square, round, triangle and oblong). The material can be stainless steel or plated with gold or Nickel. Diameters vary from 6 to 20mm.</p>
      </article>

      <span id="integration"></span>
      <!-- FINAL INTEGRATION -->
      <article class="standard-article clearfix">
        <h2>Final Integration</h2>
        <p>At Central Midori we call turnkey solutions the integration of our core products with large components and sub assemblies. In some cases our customers choose to specify the vendors while in others we are fully responsible for sourcing.</p>
        <p>When possible we do functional test and any other performance testing required by the customer.</p>

        <div class="specifications-article">
          <h3>Items to be incorporated include:</h3>
          <ul>
            <li>LCD display</li>
            <li>Touch screen</li>
            <li>Printed Circuit Board Assembly (PCBA)</li>
            <li>Copper flexible circuit</li>
            <li>Copper flex assemblies</li>
            <li>Plastic molded parts</li>
          </ul>
          <ul>
            <li>Metal backers</li>
            <li>Bezel</li>
            <li>Light guide</li>
            <li>backlighting</li>
            <li>Wire harness</li>
            <li>Rubber keypad</li>
          </ul>
        </div>


      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
  </body>
</html>
