@import '../../public/scss/palette';

.manufacturing-section {
  .parallax-window {
    min-height: 500px;
    background: transparent;
    background-position: center right;
  }

  .special-width {
    padding-top: 60px;

    ul {
      margin: 0;
      width: 40%;
      display: inline-block;
      box-sizing: border-box;

      &:first-child {
        margin-right: 10%;
      }
    }
  }

  article {
    padding: 140px 40px;
  }

  .regular-padding {
    padding: 60px 40px;
  }

  .flat-list {
    margin: 10px 0 0 0;
    padding-left: 20px;

    li {
      margin-bottom: 15px;
    }
  }

  .standard-list {
    margin-bottom: 40px;
  }

  .circle-nav {
    ul {
      margin-top: 30px;
    };

    li {
      margin: 0;
      width: 160px;
    }

    h2 {
      font-size: 18px;
    }
  }
}