<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Our team - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Our team - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/terms">

  <meta name="twitter:title" content="Our team - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>
<body>
<!-- NAVBAR -->
<partial src="navbar/_navbar.html" param="team"></partial>

<section class="team-section">
  <!-- TEAM -->
  <article class="standard-article gray">
    <span class="dashed-header">&#8212; Meet our team &#8212;</span>
    <article class="team-article senior-management">
      <h1 class="animated pulse">Senior Management</h1>
      <ul>
        <li>
          <div
            class="profile-image"
            style="background-image: url(assets/team/assets/senior-management/001.jpg)">
            <label>Learn More</label>
          </div>
          <h3>General Manager<br/><span>Pascal Delloue</span></h3>
        </li>
        <li>
          <div
            class="profile-image"
            style="background-image: url(assets/team/assets/senior-management/002.jpg)">
            <label>Learn More</label>
          </div>
          <h3>Finance and Admin. Manager<br/><span>Serene Chan</span></h3>
        </li>
        <li>
          <div
            class="profile-image"
            style="background-image: url(assets/team/assets/senior-management/003.jpg)">
            <label>Learn More</label>
          </div>
          <h3>Plant Manager<br/><span>Shmuel Hershko</span></h3>
        </li>
        <li>
          <div
            class="profile-image"
            style="background-image: url(assets/team/assets/senior-management/004.jpg)">
            <label>Learn More</label>
          </div>
          <h3>Business Development Manager<br/><span>Yeo Liang Choon</span></h3>
        </li>
      </ul>
    </article>

    <article class="team-article management">
      <h1 class="animated pulse">Management</h1>
      <ul>
        <li>
          <div
            class="profile-image"
            style="background-image: url(assets/team/assets/management/001.jpg)"></div>
          <h3>Engineering Manager<br/><span>Marcus Phua</span></h3>
        </li>
        <li>
          <div
            class="profile-image"
            style="background-image: url(assets/team/assets/management/002.jpg)"></div>
          <h3>Development Center Manager<br/><span>Lee Yew Nyean</span></h3>
        </li>
        <li>
          <div
            class="profile-image"
            style="background-image: url(assets/team/assets/management/003.jpg)"></div>
          <h3>Quality Manager<br/><span>Joanne Wai</span></h3>
        </li>
        <li>
          <div
            class="profile-image"
            style="background-image: url(assets/team/assets/management/004.jpg)"></div>
          <h3>Material and Purchasing Manager<br/><span>Zenon Lim</span></h3>
        </li>
      </ul>
    </article>
  </article>
</section>

<!-- FOOTER -->
<partial src="footer/_footer.html" data="Footer"></partial>
<partial src="_hubspot.html"></partial>

</body>
</html>
