.circle-nav {
  ul {
    text-align: center;
    padding: 0;

    li {
      display: inline-block;
      width: 200px;
      margin: 20px;
      transition: ease all .3s;

      &:hover {
        transform: scale(1.05) !important;
      }
    }

    a {
      text-decoration: none;
    }

    .circle {
      display: block;
      width: 120px;
      height: 120px;
      border-radius: 400px;
      margin: 0 auto;
      background-size: cover;
      background-position: center;
    }

    h2 {
      font-size: 20px;
      text-align: center;
      margin-top: 20px;
    }
  }
}