@import './palette';

html,
body {
  font-family: 'Open Sans', sans-serif;
  color: $brandGray;
  min-width: 360px;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.spacer {
  display: block;
  margin-bottom: 40px;
}

.circuit-divider {
  position: absolute;
  top: 45px;
  width: 100%;
  left: 0;
  opacity: .7;

  &.white {
    filter: brightness(0) invert(1);
  }
}