img {
  max-width: 100%;

  &.center {
    margin: 0 auto;
    display: block;
  }

  &.thumb {
    width: 100px;
  }

  &.small {
    width: 250px;
  }

  &.medium {
    width: 350px;
  }

  &.large {
    width: 800px;
  }

  &.pull-left {
    float: left;
    margin-right: 20px;
  }

  &.pull-right {
    float: right;
    margin-left: 20px;
  }
}

@media screen and (max-width: 780px) {
  img.pull-left,
  img.pull-right,
  img.medium {
    float: none;
    margin-right: 0;
  }
}