@import './palette.scss';

p {
  line-height: 38px;

  em {
    font-style: normal;
    font-weight: bold;
  }

  &.center {
    text-align: center;
  }
}

.dashed-header {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.drop-case {
  font-size: 32px;
  font-weight: bold;
  color: $primaryColor;
}
