<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>ISO 9001 - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="ISO 9001 - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/iso9001">

  <meta name="twitter:title" content="ISO 9001 - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html"></partial>

    <section class="iso-section">
      <!-- MANUFACTURING -->
      <article class="standard-article">
        <span class="dashed-header">&#8212; standard &#8212;</span>
        <h1 class="brand-header">ISO 9001</h1>
        <img src="assets/iso9001/assets/ISO9001_2015_1.jpg"/>
        <img src="assets/iso9001/assets/ISO9001_2015_2.jpg"/>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>

    <partial src="_hubspot.html"></partial>
  </body>
</html>
