<ul class="markets-list-component @@className">
  <li class="clearfix">
    <div class="image" style="background-image: url('assets/market-list/assets/medical.jpg');"></div>
    <div class="content">
      <h5>Medical</h5>
      <p>Central Midori is ideally located in Singapore to support the Asian biomedical industry with printed electronic in portable medical devices and biosensors.</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="image" style="background-image: url('assets/market-list/assets/payment.jpg');"></div>
    <div class="content">
      <h5>Banking/Payment</h5>
      <p>Central Midori works closely with industry leaders to develop security foils that offer 3D multi-directional protection against physical intrusion.</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="image" style="background-image: url('assets/market-list/assets/defense.jpg');"></div>
    <div class="content">
      <h5>Defense</h5>
      <p>Flexible electronics provide solutions for more secured communications, better portability on the battlefield and anti-tamper protection.</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="image" style="background-image: url('assets/market-list/assets/instrumentation.jpg');"></div>
    <div class="content">
      <h5>Instrumentation</h5>
      <!-- <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p> -->
    </div>
  </li>
  <li class="clearfix">
    <div class="image" style="background-image: url('assets/market-list/assets/consumerelectronics.jpg');"></div>
    <div class="content">
      <h5>Consumer Electronic</h5>
      <p>Flexible electronics is becoming a powerful enabler in the technology race for smaller, thinner, lighter and more flexible mobile devices.</p>
    </div>
  </li>
</ul>
