<ul class="markets-list-component @@className">
  <li class="clearfix image-left">
    <div class="image" style="background-image: url('assets/market-list/assets/consumer-electronics.jpg');"></div>
    <div class="content">
      <h5>Consumer Electronic</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
        wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
        iriure dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
        et iusto odio dignissim qui blandit praesent luptatum zzril delenit
        augue duis dolore te feugait nulla facilisi. Nam liber tempor cum.</p>
    </div>
  </li>
  <li class="clearfix image-right">
    <div class="image" style="background-image: url('assets/market-list/assets/survey.jpg');"></div>
    <div class="content">
      <h5>Instrumentation</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
        wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
        iriure dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
        et iusto odio dignissim qui blandit praesent luptatum zzril delenit
        augue duis dolore te feugait nulla facilisi. Nam liber tempor cum.</p>
    </div>
  </li>
  <li class="clearfix image-left">
    <div class="image" style="background-image: url('assets/market-list/assets/medical2.jpg');"></div>
    <div class="content">
      <h5>Medical</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
        wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
        iriure dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
        et iusto odio dignissim qui blandit praesent luptatum zzril delenit
        augue duis dolore te feugait nulla facilisi. Nam liber tempor cum.</p>
    </div>
  </li>
  <li class="clearfix image-right">
    <div class="image" style="background-image: url('assets/market-list/assets/banking.jpg');"></div>
    <div class="content">
      <h5>Banking/Payment</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
        wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
        iriure dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
        et iusto odio dignissim qui blandit praesent luptatum zzril delenit
        augue duis dolore te feugait nulla facilisi. Nam liber tempor cum.</p>
    </div>
  </li>
  <li class="clearfix image-left">
    <div class="image" style="background-image: url('assets/market-list/assets/image-placeholder-500x500.jpg');"></div>
    <div class="content">
      <h5>Defense</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
        wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
        iriure dolor in hendrerit in vulputate velit esse molestie consequat,
        vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan
        et iusto odio dignissim qui blandit praesent luptatum zzril delenit
        augue duis dolore te feugait nulla facilisi. Nam liber tempor cum.</p>
    </div>
  </li>
</ul>