<ul class="markets-list-component @@className">
  <li class="clearfix">
    <div class="image" style="background-image: url('assets/market-list/assets/consumer-electronics.jpg');"></div>
    <div class="content">
      <h5>Consumer Electronic</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="image" style="background-image: url('assets/market-list/assets/survey.jpg');"></div>
    <div class="content">
      <h5>Instrumentation</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="image" style="background-image: url('assets/market-list/assets/medical2.jpg');"></div>
    <div class="content">
      <h5>Medical</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="image" style="background-image: url('assets/market-list/assets/banking.jpg');"></div>
    <div class="content">
      <h5>Banking/Payment</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
    </div>
  </li>
  <li class="clearfix">
    <div class="image" style="background-image: url('assets/market-list/assets/image-placeholder-500x500.jpg');"></div>
    <div class="content">
      <h5>Defense</h5>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
    </div>
  </li>
</ul>