@import '../../public/scss/palette';

.markets-list-component {
  list-style: none;
  box-sizing: border-box;
  width: 100%;
  margin: 60px 0;
  padding: 0 40px;

  li {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 80px;

    .content {
      width: 60%;
      box-sizing: border-box;
    }

    .image {
      position: absolute;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .image-left {
    .content {
      float: right;
      padding: 0 0 20px 40px;
    }

    .image {
      left: 0;
      width: 40%;
    }
  }

  .image-right {
    .content {
      float: left;
      padding: 0 40px 20px 0;
    }

    .image {
      right: 0;
      width: 40%;
    }
  }

  h5 {
    font-size: 28px;
    text-align: left;
    margin: 0 0 20px;
  }

  h5,
  p {
    max-width: 100%;
  }

  p {
    margin-bottom: 20px;
    text-align: left;
  }

  &.gray {
    background-color: $lightGray;
  }

  &.white {
    background-color: #fff;
  }
}