<footer class="main-footer clearfix">

  <div class="right">
    <ul>
      <li><a href="contact">Contact</a></li>
      <li><a href="careers">Careers</a></li>
      <li><a href="http://blog.centralmidori.com">Blog</a></li>
      <li><a href="data-sheets">Product Data Sheets</a></li>
      <li><a href="conflict-minerals-policy">Conflict Minerals Policy</a></li>
      <li><a href="iso9001">ISO 9001</a></li>
      <li><a href="terms">Terms & Conditions</a></li>
    </ul>
  </div>
  <div class="left">
    <p><span>CMI</span> Central Midori International</p>
    <p>Singapore | Germany | USA</p>
    <p class="small">&copy; 2017 Central-Midori (Int'l) Pte Ltd. All Rights Reserved</p>
  </div>
</footer>