@import '../../../public/scss/palette';

.force-sensors-section {
  .main-header-image {
    background-image: url('../../assets/product/force-sensors/assets/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
  }
}