<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Force Sensors - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Force Sensors - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/product/force-sensors">

  <meta name="twitter:title" content="Force Sensors - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
  <script src="js/parallax.min.js"></script>
</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="product"></partial>

    <section class="force-sensors-section">
      <partial src="product-nav/_product-nav.html" param="force-sensors"></partial>

      <!-- HEADER -->
      <div class="parallax-window"></div>

      <!-- SUB HEADER-->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; Product &#8212;</span>
        <h1 class="animated pulse">Force Sensors</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>

      <!-- MEMBRANE SWITCH PRIMARY CONTENT -->
      <article class="standard-article">
        <h2>Details</h2>

        <div class="slider standard-slider-component medium pull-left">
          <img src="assets/product/force-sensors/assets/slide001.jpg" />
          <img src="assets/product/force-sensors/assets/slide002.jpg" />
        </div>
        <p>A Force Sensing Resistor (FSR) is a variable resistor in which resistance decreases when pressure is applied.</p>

        <p>In simple terms, how is it manufactured? The device is made of a circuitry layer, printed with a conductive ink (typically silver) and a force sensing layer, printed with a pressure sensitive ink.</p>
        <p>The two layers are separated by a spacer.</p>

        <p>The key ingredient is the pressure sensitive ink, of which formulation is customized to meet the application requirements.</p>

        <p>Force sensing can be used as a simple potentiometer or a pressure sensor. It can be incorporated in a touchpad or a force measuring device. More complex applications include musical instruments or automotive seat detector.</p>

        <p>Central Midori has been manufacturing force sensors for more than 6 years.</p>
        <div class="button-wrapper-center">
          <button class="branded-btn">
            Get your Force Sensors
          </button>
        </div>
      </article>

      <!-- OTHER SOLUTIONS -->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; See Other &#8212;</span>
        <h1>Solutions</h1>
        <partial src="product-list/_product-list.html" className="gray"></partial>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
    <script>
      $('.parallax-window').parallax({imageSrc: 'assets/product/force-sensors/assets/header.jpg', position: 'top center'});
    </script>
    <partial src="_hubspot.html"></partial>
  </body>
</html>
