<!doctype html>
<html lang="en">
  <partial src="_head.html"></partial>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html"></partial>

    <section class="careers-section">
      <!-- MANUFACTURING -->
      <article class="standard-article">
        <span class="dashed-header">&#8212; work with us &#8212;</span>
        <h1 class="brand-header">Careers</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</p>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>

  </body>
</html>
