<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Graphic Overlay - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Graphic Overlay - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/product/graphic-overlay">

  <meta name="twitter:title" content="Graphic Overlay - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="product"></partial>

    <section class="graphic-overlay-section">
      <partial src="product-nav/_product-nav.html" param="graphic-overlay"></partial>

      <!-- HEADER -->
      <div class="main-header-image"></div>

      <!-- SUB HEADER-->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; Product &#8212;</span>
        <h1 class="animated pulse">graphic overlay</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>

      <!-- MEMBRANE SWITCH PRIMARY CONTENT -->
      <article class="standard-article">
        <h2>Details</h2>
        <div class="slider standard-slider-component medium pull-left">
          <img src="assets/product/graphic-overlay/assets/001.jpg" />
          <img src="assets/product/graphic-overlay/assets/002.jpg" />
          <img src="assets/product/graphic-overlay/assets/003.jpg" />
          <img src="assets/product/graphic-overlay/assets/004.jpg" />
        </div>
        <p>The Graphic Overlay is the surface that your customers will see and touch first. It is an important element of your branding and the main interface between your equipment and its operator. It has to be cosmetically pleasing, technically sound and user friendly all at the same time.</p>
        <p>Our Graphic Overlays are screen-printed on polyester and polycarbonate material. Typically we use polyester film between 150 and 200µm and polycarbonate between 125 and 500µm thick.</p>
        <p>Our maximum printing size is 500 X 560mm.</p>
        <p>Our superior color matching capabilities consistently guarantee your brand recognition. We also offer a wide variety of finishes and textures which will greatly contribute to the customer experience (e.g. soft-touch, brushed stainless steel, velvet, gloss, matte, anti-glare etc.).</p>
        <p>For application where cleanliness is critical, we use film with anti-microbial protection.</p>
        <p>If necessary our graphic overlay can be designed to withstand outdoor environment (i.e. UV exposure at 240 joule/cm2 for 16 hours).</p>
        <div class="button-wrapper-center">
          <button class="branded-btn">
            Get your Graphic Overlay
          </button>
        </div>
      </article>

      <!-- OTHER SOLUTIONS -->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; See Other &#8212;</span>
        <h1>Solutions</h1>
        <partial src="product-list/_product-list.html" className="gray"></partial>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
  </body>
</html>
