<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Security Foil - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Security Foil - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/product/security-foil">

  <meta name="twitter:title" content="Security Foil - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
  <script src="js/parallax.min.js"></script>
</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="product"></partial>

    <section class="security-foil-section">
      <partial src="product-nav/_product-nav.html" param="security-foil"></partial>

      <!-- HEADER -->
      <div class="parallax-window"></div>

      <!-- SUB HEADER-->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; Product &#8212;</span>
        <h1 class="animated pulse">Security Foil</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>

      <!-- MEMBRANE SWITCH PRIMARY CONTENT -->
      <article class="standard-article">
        <h2>Details</h2>
        <p>Our tamper proof security foil consists of a single or double sided printed circuit which uses different adhesive systems, so circuits tend to be broken when removal is attempted.</p>
        <p>The circuit pattern is a dense sensor mesh whose role is to detect any effort to drill through the foil.</p>
        <p>Finally the circuit is folded or embossed and wrapped around the part of the device to be protected in such a way that future attacks are prevented from all directions.</p>
        <p>In some cases the circuit will have to be bonded onto the plastic material to offer an even better protection.</p>
        <p>Components and bare chips are sometimes mounted on the security mesh using a low temperature conductive adhesive generally followed by UV encapsulation for better mechanical performance.</p>
        <div class="button-wrapper-center">
          <button class="branded-btn">
            Get your Security Foil
          </button>
        </div>
      </article>

      <!-- SPECIFICATIONS -->
      <article class="specifications-article gray">
        <h2>Specifications</h2>
        <ul>
          <li><span>Typical security mesh pitch:</span> 0.7mm</li>
          <li><span>Minimum bending radius:</span> 1mm</li>
          <li><span>Circuit resistance can be tailored from:</span> 0.015 Ohm per sq to 30 Ohm per sq</li>
          <li><span>Tested for accelerated aging at:</span> 75℃ under 85% RH for 196h</li>
        </ul>
      </article>

      <!-- OTHER SOLUTIONS -->
      <article class="standard-article white">
        <span class="dashed-header">&#8212; See Other &#8212;</span>
        <h1>Solutions</h1>
        <partial src="product-list/_product-list.html" className="white"></partial>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
    <script>
      $('.parallax-window').parallax({imageSrc: 'assets/product/security-foil/assets/header.jpg', position: 'top center'});
    </script>
  </body>
</html>
