<!doctype html>
<html lang="en">
<partial src="_head.html"></partial>
<body>
<partial src="_navbar.html" param="Homepage"></partial>
<section class="light-guides-section">
  <div class="main-header-image"></div>
  <article>
    <div class="standard-article-content gray">
      <h3>&#8212; Manufacturing &#8212;</h3>
      <h4>Light Guides</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>
  </article>
</section>
<partial src="_footer.html" data="Footer"></partial>
</body>
</html>
