<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Yeo Liang Choon, Business Development Manager - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Yeo Liang Choon, Business Development Manager - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/terms">

  <meta name="twitter:title" content="Yeo Liang Choon, Business Development Manager - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>
<body>
<!-- NAVBAR -->
<partial src="navbar/_navbar.html" param="team"></partial>

<section class="team-section">
  <!-- TEAM -->
  <article class="standard-article gray">
    <div class="employee-bio-container">
      <div class="sidebar">
        <img src="assets/team/assets/senior-management/004.jpg"/>
        <h3>Business Development Manager<br/><span>Yeo Liang Choon</span></h3>
      </div>
      <div class="content">
        <h1 class="animated pulse">Yeo Liang Choon</h1>
        <p>Yeo Liang Choon is Central Midori’s Business & Technology Development Manager. He joined the company in 2011 as Sales & Marketing Manager and took over key accounts. In 2015, he was tasked to spearhead the CMI Development Lab.</p>
        <p>Liang Choon has more than 22 years of experience in business development. Previously he spent 17 years in South Africa developing business throughout Africa. He holds a diploma in Electronics & Communication Engineering from Singapore Polytechnic. During his leisure time, he enjoys reading, swimming and playing badminton with his wife.</p>
      </div>
    </div>
  </article>
</section>

<!-- FOOTER -->
<partial src="footer/_footer.html" data="Footer"></partial>
<partial src="_hubspot.html"></partial>

</body>
</html>
