<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Shmuel Hershko, Plant Manager - Central Midori International (CMI)</title>
  <meta name="description" content="Shmuel Hershko (Sam) joined CMI in 2015 as plant manager. In the last 15 years, he has successfully led complex projects in an international environment throughout Europe">
  <meta property="og:title" content="Shmuel Hershko, Plant Manager - Central Midori International (CMI)">
  <meta property="og:description" content="Shmuel Hershko (Sam) joined CMI in 2015 as plant manager. In the last 15 years, he has successfully led complex projects in an international environment throughout Europe">
  <meta property="og:image" content="http://www.centralmidori.com/assets/team/assets/senior-management/003.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/team/shmuel-hershko">

  <meta name="twitter:title" content="Shmuel Hershko, Plant Manager - Central Midori International (CMI)">
  <meta name="twitter:description" content="Shmuel Hershko (Sam) joined CMI in 2015 as plant manager. In the last 15 years, he has successfully led complex projects in an international environment throughout Europe">
  <meta name="twitter:image" content="http://www.centralmidori.com/assets/team/assets/senior-management/003.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>
<body>
<!-- NAVBAR -->
<partial src="navbar/_navbar.html" param="team"></partial>

<section class="team-section">
  <!-- TEAM -->
  <article class="standard-article gray">
    <div class="employee-bio-container">
      <div class="sidebar">
        <img src="assets/team/assets/senior-management/003.jpg"/>
        <h3>Plant Manager<br/><span>Shmuel Hershko</span></h3>
      </div>
      <div class="content">
        <h1 class="animated pulse">Shmuel Hershko</h1>
        <p>Shmuel Hershko (Sam) joined CMI in 2015 as plant manager. In the last 15 years, he has successfully led complex projects in an international environment throughout Europe, Israel, and Asia. Over the years he’s showed extensive expertise in management and process development.</p>
        <p>After finishing his military service in the Israeli Special Forces, Shmuel obtained a Bachelor of Science degree in Industrial Engineering from Ariel University. He’s an avid outrigger canoe paddler and enjoys any activity that can be done in the great outdoors. Together with his wife Ricki, Shmuel is raising two daughters and a son.</p>
      </div>
    </div>
  </article>
</section>

<!-- FOOTER -->
<partial src="footer/_footer.html" data="Footer"></partial>
<partial src="_hubspot.html"></partial>

</body>
</html>
