<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Serene Chan, Finance and Admin. Manager - Central Midori International (CMI)</title>
  <meta name="description" content="Serene Chan joined Central Midori in 2003. She’s responsible for the company’s finance, accounting, administration and human resources department.">
  <meta property="og:title" content="Serene Chan, Finance and Admin. Manager - Central Midori International (CMI)">
  <meta property="og:description" content="Serene Chan joined Central Midori in 2003. She’s responsible for the company’s finance, accounting, administration and human resources department.">
  <meta property="og:image" content="http://www.centralmidori.com/assets/team/assets/senior-management/002.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/terms">

  <meta name="twitter:title" content="Serene Chan, Finance and Admin. Manager - Central Midori International (CMI)">
  <meta name="twitter:description" content="Serene Chan joined Central Midori in 2003. She’s responsible for the company’s finance, accounting, administration and human resources department.">
  <meta name="twitter:image" content="http://www.centralmidori.com/assets/team/assets/senior-management/002.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>
<body>
<!-- NAVBAR -->
<partial src="navbar/_navbar.html" param="team"></partial>

<section class="team-section">
  <!-- TEAM -->
  <article class="standard-article gray">
    <div class="employee-bio-container">
      <div class="sidebar">
        <img src="assets/team/assets/senior-management/002.jpg"/>
        <h3>Finance and Admin. Manager<br/><span>Serene Chan</span></h3>
      </div>
      <div class="content">
        <h1 class="animated pulse">Serene Chan</h1>
        <p>Serene Chan joined Central Midori in 2003. She’s responsible for the company’s finance, accounting, administration and human resources department. She brings over 20 years of experience in finance and accounting sectors.</p>
        <p>Prior to joining CMI, Serene served in various accounting positions. She holds a diploma in accounting from the London of Chamber Commerce and Industry. During her free time, she enjoys yoga, traveling and spending time with her family.</p>
      </div>
    </div>
  </article>
</section>

<!-- FOOTER -->
<partial src="footer/_footer.html" data="Footer"></partial>
<partial src="_hubspot.html"></partial>

</body>
</html>
