<!doctype html>
<html lang="en">
  <partial src="_head.html"></partial>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="services"></partial>

    <section class="services-section">
      <!-- HEADER -->
      <div class="main-header-image"></div>

      <!-- SUB HEADER-->
      <article class="standard-article">
        <span class="dashed-header">&#8212; start to finish &#8212;</span>
        <h1 class="animated pulse">Services</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>

      <!-- DESIGN-->
      <article class="standard-article gray clearfix">
        <h2>Conceptual Design</h2>
        <img src="assets/services/assets/image-placeholder-500x500.jpg" class="small pull-left"/>
        <p>In the early stage of a new product development CMI provides design assistance, engineering
          support, and cost/value analysis. Just a few of our customers have the necessary expertise to
          optimize their designs by using the full capability of our technologies. Tactile feel is not just about
          selecting a dome, force sensing is not only about ink formulation, minor changes to the design have
          tremendous implications to your product functionalities and CMI engineers are here to help you
          make the right decisions in the initial phase.</p>
        <p>CMI also provide technical expertise in Printed Electronic to R&amp;D engineers to enable and enhance
          performance in 3 strategic areas:</p>
        <ul class="standard-list">
          <li><em>Flexibility/Elasticity:</em> curvable, bendable, foldable, rollable, conformal, stretchable</li>
          <li><em>Miniaturization/Portability:</em> Integration of more technology into less material and space
            (thinner, lighter, smaller)</li>
          <li><em>Security:</em> anti tamper mesh circuitry</li>
        </ul>
      </article>

      <!-- PROTOTYPING -->
      <article class="standard-article clearfix">
        <h2>Rapid Prototyping</h2>
        <img src="assets/services/assets/image-placeholder-500x500.jpg" class="small pull-left"/>
        <p>The lean start-up methodology to develop new products requires many design iterations followed by
          many prototypes. CMI has established a Development Centre with dedicated resources to build
          proof of concept prototype in a record time. The majority of the manufacturing processes in the
          development centre is digital and hence do not require expensive/long lead-time tooling. The
          personnel of the Development Centre was selected among the most experienced and skilled
          engineers.</p>
      </article>

      <!-- TESTING -->
      <article class="standard-article gray clearfix">
        <h2>Functional Testing</h2>
        <img src="assets/services/assets/image-placeholder-500x500.jpg" class="small pull-left"/>
        <p class="center">Once prototypes are completed we are offering personalized testing and inspection services
          including but not limited to 3D measuring, dynamic testing, electrical and functional testing,
          temperature and humidity cycling…</p>
      </article>

      <!-- MEMBRANE SWITCH PRIMARY CONTENT -->
      <article class="standard-article">
        <span class="dashed-header">&#8212; Assistance &#8212;</span>
        <h1>Project Management</h1>
        <p>At CMI we believe that Product Development is about creativity, cross disciplinary teams, focus and
          speed. Our development team is dedicated to optimizing existing design for better manufacturability
          (DFM), enhancing new product functionalities and performance with minimum increase in costs and
          above all helping our customer to win new projects.</p>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
  </body>
</html>
