<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Services - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Services - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/services">

  <meta name="twitter:title" content="Services - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
  <script src="js/parallax.min.js"></script>
</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="services"></partial>

    <section class="services-section">
      <nav class="sub-nav">
        <ul>
          <li>
            <a href="/services/#conceptual-design">Conceptual Design</a>
          </li>
          <li>
            <a href="/services/#prototyping">Rapid Prototyping</a>
          </li>
          <li>
            <a href="/services/#testing">Functional Testing</a>
          </li>
          <li>
            <a href="/services/#management">Project Management</a>
          </li>
        </ul>
      </nav>
      <!-- HEADER -->
      <div class="parallax-window"></div>

      <!-- SUB HEADER-->
      <article class="standard-article regular-padding">
        <span class="dashed-header">&#8212; Development Centre &#8212;</span>
        <h1 class="animated pulse">Services</h1>
        <p class="center">Inspired by the lean startup methodology, we combine project management and agile engineering to provide conceptual design, high speed prototyping and functional testing capabilities to reduce customer development cycle.</p>
        <nav class="circle-nav">
          <ul>
            <li>
              <a href="/services/#conceptual-design">
                <div class="circle"
                     style="background-image: url(assets/services/assets/design.jpg);"></div>
                <h2>Conceptual Design</h2>
              </a>
            </li>
            <li>
              <a href="/services/#prototyping">
                <div class="circle"
                     style="background-image: url(assets/services/assets/rapid-prototyping.jpg);"></div>
                <h2>Rapid Prototyping</h2>
              </a>
            </li>
            <li>
              <a href="/services/#testing">
                <div class="circle"
                     style="background-image: url(assets/services/assets/testing.png);"></div>
                <h2>Functional Testing</h2>
              </a>
            </li>
            <li>
              <a href="/services/#management">
                <div class="circle"
                     style="background-image: url(assets/services/assets/projectmanagement.jpg);"></div>
                <h2>Project Management</h2>
              </a>
            </li>
          </ul>
        </nav>
      </article>

      <span id="conceptual-design"></span>
      <!-- DESIGN-->
      <article class="standard-article gray clearfix">
        <img src="images/circuit.png" class="circuit-divider white"/>
        <img src="assets/services/assets/design.jpg" class="medium pull-left"/>
        <h2>Conceptual Design</h2>
        <p><span class="drop-case">I</span>n the early stages of a new product development, many customers do not have the expertise to optimize their designs. And because minor changes to the design may have tremendous implications on product functionality, Central Midori engineers are here to help you make the right decisions in the initial phase. We offer design assistance, engineering support and cost/value analysis.</p>
        <p>Central Midori also provide technical expertise in Printed Electronic to R&D engineers to enable and enhance performance in 3 strategic areas:</p>
        <ul class="standard-list">
          <li><em>Flexibility/Elasticity:</em> curvable, bendable, foldable, rollable, conformal, stretchable</li>
          <li><em>Miniaturization/Portability:</em> Integration of more technology into less material and space (thinner, lighter, smaller)</li>
          <li><em>Security:</em> anti tamper mesh circuitry</li>
        </ul>
      </article>

      <span id="prototyping"></span>
      <!-- PROTOTYPING -->
      <article class="standard-article clearfix">
        <img src="images/circuit.png" class="circuit-divider"/>
        <img src="assets/services/assets/rapid-prototyping.jpg" class="medium pull-left"/>
        <h2>Rapid Prototyping</h2>
        <p><span class="drop-case">W</span>e employ the lean startup methodology to develop products by iterating on design followed by  prototyping. We have established a Development Centre with dedicated resources to build proof-of-concept prototypes in record time. The majority of the manufacturing processes in the development centre is digital and hence do not require expensive lead-time tooling. Our personnel are among the most experienced and skilled engineers in the industry.</p>
      </article>

      <span id="testing"></span>
      <!-- TESTING -->
      <article class="standard-article gray clearfix">
        <img src="images/circuit.png" class="circuit-divider white"/>
        <img src="assets/services/assets/testing.png" class="medium pull-left"/>
        <h2>Functional Testing</h2>
        <p><span class="drop-case">O</span>nce prototypes are completed, we offer personalized testing and inspection services including but not limited to 3D measuring, dynamic testing, electrical and functional testing, temperature and humidity cycling…</p>
      </article>

      <span id="management"></span>
      <!-- Project Management -->
      <article class="standard-article clearfix">
        <img src="images/circuit.png" class="circuit-divider"/>
        <img src="assets/services/assets/projectmanagement.jpg" class="medium pull-left"/>
        <h2>Project Management</h2>

        <p><span class="drop-case">W</span>e believe that Product Development is about creativity, cross disciplinary teams, focus and speed. Our development team is dedicated to optimizing existing design for better manufacturability (DFM) and enhancing new product performance with minimum increase in costs. Above all our team helps customer win new projects.</p>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
    <script>
      $('.parallax-window').parallax({imageSrc: 'assets/services/assets/header.jpg', position: 'top center'});
    </script>
    <partial src="_hubspot.html"></partial>
  </body>
</html>
