@import '../../public/scss/palette';

.services-section {
  .parallax-window {
    min-height: 500px;
    background: transparent;
    background-position: center right;
  }

  article {
    padding: 150px 40px;
  }

  .medium {
    margin-top: 10px;
    margin-right: 40px;
  }

  .regular-padding {
    padding: 60px 40px;
  }

  .sub-nav {
    li {
      margin: 0 20px;
    }
  }

  h2 {
    text-align: left;
    margin-top: 0;
  }
}