@import '../../public/scss/palette';

.services-section {
  .main-header-image {
    background-image: url('../assets/services/assets/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 450px;
  }

  article {
    padding: 150px 40px;
  }

  .medium {
    margin-top: 10px;
    margin-right: 40px;
  }

  .regular-padding {
    padding: 60px 40px;
  }

  .sub-nav {
    li {
      margin: 0 20px;
    }
  }

  h2 {
    text-align: left;
    margin-top: 0;
  }

  .circle-nav {
    ul {
      text-align: center;

      li {
        display: inline-block;
        width: 200px;
        margin: 20px;
        transition: ease all .3s;

        &:hover {
          transform: scale(1.05) !important;
        }
      }

      a {
        text-decoration: none;
      }

      .circle {
        display: block;
        width: 120px;
        height: 120px;
        border-radius: 400px;
        margin: 0 auto;
        background-size: cover;
        background-position: center;
      }

      h2 {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
}