<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Light Guides - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Light Guides - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/products/light-guides">

  <meta name="twitter:title" content="Light Guides - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
  <script src="js/parallax.min.js"></script>
</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="product"></partial>

    <section class="light-guide-section">
      <partial src="product-nav/_product-nav.html" param="light-guides"></partial>

      <!-- HEADER -->
      <div class="parallax-window"></div>

      <!-- SUB HEADER-->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; Product &#8212;</span>
        <h1 class="animated pulse">Light Guides</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>

      <!-- MEMBRANE SWITCH PRIMARY CONTENT -->
      <article class="standard-article">
        <h2>Details</h2>
        <p>We are offering thin and flexible solutions for the illumination of your human-machine Interface.</p>
        <p>As you cannot place a discreet LED below each dome switch, light guide films are designed to
        provide a uniform illumination with a minimum number of LEDs.</p>
        <p>CMI have developed a unique technology which consists of a thin flexible material with printed dots
        arranged in a particular pattern.</p>
        <p>The base film provides high transparency along with high flexibility while the printed ink diffuses the
        light effectively.</p>
        <p>The side firing LEDs are mounted along one or more edges of the light guide film. The unreflected
        light travels through the film until it gets diffused in the dot printed area.</p>
        <p>Not all applications require thin material and CMI has also developed a PMMA light guide panel. The
        transparent acrylic material can be directly CO2 laser-engraved with microstructures or printed with
        ink dots (similar to the light guide film).</p>
        <p>PMMA typical thicknesses vary from 1mm to 3mm while we recommend a thin film of 250µm.</p>
        <div class="button-wrapper-center">
          <button class="branded-btn">
            Get your Light Guides
          </button>
        </div>
      </article>

      <!-- OTHER SOLUTIONS -->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; See Other &#8212;</span>
        <h1>Solutions</h1>
        <partial src="product-list/_product-list.html" className="gray"></partial>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
    <script>
      $('.parallax-window').parallax({imageSrc: 'assets/products/light-guides/assets/header.jpg', position: 'top center'});
    </script>
    <partial src="_hubspot.html"></partial>
  </body>
</html>
