<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Product - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/">

  <meta name="twitter:title" content="Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>

<body>
<!-- NAVBAR -->
<partial src="navbar/_navbar.html" param="product"></partial>

<section class="product-landing-section">
  <partial src="product-nav/_product-nav.html"></partial>
  <!-- MANUFACTURING -->
  <article class="standard-article gray">
    <span class="dashed-header">&#8212; what we offer &#8212;</span>
    <h1 class="brand-header">Product</h1>
    <partial src="product-list/_product-list.html" className="gray"></partial>
  </article>

</section>

<!-- FOOTER -->
<partial src="footer/_footer.html" data="Footer"></partial>
<partial src="_hubspot.html"></partial>
</body>
</html>
