<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Conflict Minerals Policy - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Conflict Minerals Policy - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/conflict-minerals-policy">

  <meta name="twitter:title" content="Conflict Minerals Policy - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html"></partial>

    <section class="conflict-minerals-section">
      <!-- MANUFACTURING -->
      <article class="standard-article">
        <span class="dashed-header">&#8212; Our Commitment &#8212;</span>
        <h1 class="brand-header">Conflict Minerals Policy</h1>
        <p>We support the end to human rights violation in the mining of certain metals from a location described as the “Conflict Region” in the Democratic Republic of the Congo, DRC. The Securities and Exchange Commission adopted the rules for reporting and disclosing requirements related to “conflict minerals,” as directed by the <a href="https://en.wikipedia.org/wiki/Dodd%E2%80%93Frank_Wall_Street_Reform_and_Consumer_Protection_Act" target="_blank">Dodd-Franks Wall Street Reform and Consumer Protection Act of 2010.</a></p>
        <p>The definition of “conflict minerals” refers to gold, tin, tantalum and tungsten regardless of where they are sourced, processed or sold.</p>
        <p>Our Commitment:</p>
        <ul>
          <li>Support the aims and objectives of the US legislation on the supply of “conflict minerals”.</li>
          <li>Do not knowingly procure products made with specific minerals that originate from facilities in the “Conflict Region” or are not certified “conflict free”.</li>
          <li>Ensure compliance with these requirements by asking our suppliers to perform reasonable due diligence with their supply chain to assure that specified minerals are being sourced from mines and smelters outside the conflict region or have been certified by an independent 3rd party as “conflict free”.</li>
        </ul>
        <p>This due diligence includes having our suppliers provide written documentation that the raw materials used to produce products containing gold, tin, tantalum and tungsten do not originate in the conflict region, or if they originate in the conflict region, that they are certified as “conflict free” by an independent 3rd party.</p>
        <p>If we discover products do contain minerals produced in the conflict region, we reserve the right to take appropriate measures to transition products to “conflict free” mineral producers.</p>
        <p>Pascal Delloue<br/>
        General Manager</p>

      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>

    <partial src="_hubspot.html"></partial>
  </body>
</html>
