<ul class="design-list-component design-list @@className">
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/design-list/assets/item8a.jpg)" class="img"></div>
    <h5>Design</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
  </li>
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/design-list/assets/item7.png)" class="img"></div>
    <h5>Prototyping</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
  </li>
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/design-list/assets/item9a.jpg)" class="img"></div>
    <h5>Testing</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
  </li>
</ul>