<ul class="design-list-component design-list @@className">
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/services/assets/design.jpg)" class="img"></div>
    <h5>Conceptual Design</h5>
    <p>Expertise to optimize your designs by using the full capability of our technologies</p>
  </li>
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/services/assets/rapid-prototyping.jpg)" class="img"></div>
    <h5>Rapid Prototyping</h5>
    <p>Dedicated resources to build proof of concept prototypes in a record time.</p>
  </li>
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/services/assets/testing.png)" class="img"></div>
    <h5>Functional Testing</h5>
    <p>Personalized testing and inspection services</p>
  </li>
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/services/assets/projectmanagement.jpg)" class="img"></div>
    <h5>Project Management</h5>
    <p>Lorem ipsum dolor</p>
  </li>
</ul>
