<ul class="design-list-component design-list @@className">
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/services/assets/design.jpg)" class="img"></div>
    <h5>Conceptual Design</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
  </li>
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/services/assets/rapid-prototyping.jpg)" class="img"></div>
    <h5>Rapid Prototyping</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
  </li>
  <li>
    <!--<img src="assets/list-items/item8.png"/>-->
    <div style="background-image: url(assets/services/assets/testing.png)" class="img"></div>
    <h5>Functional Testing</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
  </li>
</ul>