<!doctype html>
<html lang="en">
<partial src="_head.html"></partial>
<body>
<partial src="_navbar.html" param="design"></partial>
<section class="design-section">
  <div class="main-header-image"></div>
  <article>
    <div class="standard-article-content gray">
      <h3>&#8212; Lorem Ipsum &#8212;</h3>
      <h4 class="animated pulse">Design</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      <partial src="_design-list.html" className="white"></partial>
    </div>

    <div class="standard-article-content light-green">
      <h3>&#8212; contact us &#8212;</h3>
      <h4>ready to start? Let us help</h4>
      <partial src="_contact-form.html"></partial>
    </div>
  </article>
</section>
<partial src="_footer.html" data="Footer"></partial>
</body>
</html>
