.company-section {
  display: block;
  min-height: calc(100vh - 260px);

  .main-header-image {
    background-image: url('../assets/hq_outside.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    height: 300px;
    position: relative;
  }

  .map-box-component {
    margin: 0;
  }

  .market-component {
    h3 {
      font-size: 30px;
      margin-bottom: 40px;
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  .contact-form {
    width: 400px;
    margin: 60px auto 0;
    max-width: 100%;
  }
}