.homepage-section {
  min-height: calc(100vh - 260px);

  .main-header-image {
    background-image: url('../assets/homepage-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 400px 100px 100px;
    position: relative;
  }

  article {
    header {
      padding: 80px 20px;
      text-align: center;

      h1 {
        font-size: 40px;
        margin: 0 0 40px;
      }

      p {
        font-size: 24px;
        line-height: 38px;
        padding: 0 100px;
      }
    }
  }
}