.homepage-section {
  min-height: calc(100vh - 260px);

  .first {
    margin-top: 0;
    padding-top: 20px;
  }

  .main-header-image {
    background-image: url('../assets/homepage-header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height: 500px;
    position: relative;

    header {
      padding: 140px 0 0 80px;
      max-width: 50%;
      background-color: transparent;

      h1 {
        font-size: 36px;
        color: #fff;

        span {
          font-size: 20px;
        }
      }

      p {
        line-height: 24px;
        color: #fff;
      }
    }
  }

  .main-header {
    background-color: $lightGray;
  }

  article {
    header {
      padding: 80px 20px;
      text-align: center;

      h1 {
        font-size: 40px;
        margin: 0 0 40px;
      }

      p {
        font-size: 24px;
        line-height: 38px;
        padding: 0 100px;
      }
    }
  }

  .contact-form {
    width: 400px;
    margin: 60px auto 0;
    max-width: 100%;
  }
}
