<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Printed Batter - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Printed Battery - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/product/printed-battery">

  <meta name="twitter:title" content="Printed Battery - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="product"></partial>

    <section class="printed-battery-section">
      <!-- HEADER -->
      <div class="main-header-image"></div>

      <!-- SUB HEADER-->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; Product &#8212;</span>
        <h1 class="animated pulse">Printed Battery</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>

      <!-- MEMBRANE SWITCH PRIMARY CONTENT -->
      <article class="standard-article">
        <h2>Details</h2>
        <p>Central Midori is partnering with Enfucell to design, manufacture and sell printed batteries to its customers.</p>
        <p>Enfucell SoftBattery® is a disposable, thin and flexible printed power source for devices like wireless sensors for healthcare, sports and logistics.
          Batteries are custom-designed with the client, taking the specific purpose of each application into account..</p>
        <p>CMI is working closely with Enfucell to offer application engineering services and help customers taking full advantage of the broad potential of the thin printed battery technology.</p>

        <p>The chemistry is based on zinc and manganese dioxide, and zinc chloride as an electrolyte.</p>

        <p>SoftBattery® is available in 1.5V and 3.0V. Size can vary from 1 cm² to 100 cm² and in various shapes and forms.Typical battery thickness is 0.6mm.</p>
        <div class="button-wrapper-center">
          <button class="branded-btn">
            Get your Printed Battery
          </button>
        </div>
      </article>

      <!-- OTHER SOLUTIONS -->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; See Other &#8212;</span>
        <h1>Solutions</h1>
        <partial src="product-list/_product-list.html" className="gray"></partial>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
  </body>
</html>
