@import '../../public/scss/palette';

.company-section {
  .parallax-window {
    min-height: 500px;
    background: transparent;
    background-position: center right;
  }

  .logo-cmi {
    display: block;
    margin: 60px auto 0;
    width: 150px;
  }

  article {
    padding: 150px 40px;
  }

  .regular-padding {
    padding: 60px 40px;
  }

  .locations {
    padding-bottom: 60px;
  }

  .map-box-component {
    height: 600px;
    width: 100%;

    .marker {
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .singapore {
      background-image: url('../assets/company/assets/singapore_mini_logo.png');
    }

    .germany {
      background-image: url('../assets/company/assets/germany_mini_logo.png');
    }
  }

  .logo-list {
    list-style: none;
    margin-top: 50px;

    .company-image {
      float: left;
      width: 180px;
      margin-right: 30px;
    }

    .logo {
      width: 80px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
    }

    h3 {
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;

      span {
        font-size: 12px;
        margin-left: 10px;
        opacity: .9;
      }
    }

    li {
      margin-bottom: 40px;
    }
  }

  .history-image {
    margin-top: 40px;
  }
}