<!doctype html>
<html lang="en">
  <partial src="_head.html"></partial>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />

  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="company"></partial>

    <section class="company-section">
      <!-- HEADER -->
      <div class="main-header-image"></div>

      <!-- SUB HEADER-->
      <article class="standard-article">
        <span class="dashed-header">&#8212; Central Midori International  &#8212;</span>
        <h1 class="animated pulse">Company (Page Under Construction)</h1>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

        <h2>Demmel Groupe (notes)</h2>
        <img src="assets/company/assets/demmel-groupe.jpg" class="center large"/>

        <h2>History (notes)</h2>
        <img src="assets/company/assets/history.jpg" class="center large"/>

      </article>
      <article class="standard-article">
      </article>
      <div id='map' class="map-box-component"></div>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>

    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoidGhld2lja2Vkd2ViZGV2IiwiYSI6ImNqODJkYzBwajJrcnkzMnMwZ2hnb2NmcGEifQ.44JG6hnm7JiMDBxZ6L35Jw';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v9',
        center: [43.6793, 33.2232],
        zoom: 2
      });
      var geojson = {
        type: 'FeatureCollection',
        features: [{
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: [103.790222, 1.296437]
          },
          properties: {
            title: 'CMI',
            description: 'singapore'
          }
        },
          {
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [9.851159, 47.582299]
            },
            properties: {
              title: 'Demmel Gruppe',
              description: 'germany'
            }
          }]
      };
      geojson.features.forEach(function(marker) {
        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker ' + marker.properties.description;
        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el, { offset: [-50 / 2, -50 / 2] })
          .setLngLat(marker.geometry.coordinates)
          .addTo(map);
      });
      map.scrollZoom.disable();
    </script>
  </body>
</html>
