<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Company - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Company - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/company">

  <meta name="twitter:title" content="Company - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
  <script src="js/parallax.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.css' rel='stylesheet' />
</head>

  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="company"></partial>

    <section class="company-section">
      <nav class="sub-nav">
        <ul>
          <li>
            <a href="/company/#demmel-gruppe">Demmel Gruppe</a>
          </li>
          <li>
            <a href="/company/#history">History</a>
          </li>
          <li>
            <a href="/company/#locations">Locations</a>
          </li>
        </ul>
      </nav>
      <!-- HEADER -->
      <div class="parallax-window"></div>

      <!-- SUB HEADER-->
      <article class="standard-article regular-padding">
        <span class="dashed-header">&#8212; demmel gruppe  &#8212;</span>
        <img class="logo-cmi" src="assets/navbar/assets/logo-mini.png"/>
        <h1 class="animated pulse">Central Midori International</h1>
        <p class="center">Founded in Singapore in 1988 with the transfer of technology from Japan, CMI is recognized in South East Asia for his expertise in flexible printed electronic. Our main products include membrane switch, graphic overlay, sensor and security foil. We have enjoyed a steady growth by expanding our position into electronic market segments like Industrial Control, Instrumentation, Banking and Medical. Our mission is to enable our customers to make their products better, cheaper and faster through our core technology expertise, process efficiency and a nimble organization. We focus on customers who require continuous assistance from design through manufacturing. CMI is a subsidiary of Demmel Gruppe with locations in Germany, Switzerland and China.</p>
      </article>

      <span id="demmel-gruppe"></span>
      <article class="standard-article gray">
        <img src="images/circuit.png" class="circuit-divider white"/>
        <h2>Demmel Groupe</h2>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <ul class="logo-list">

          <li class="clearfix">
            <img class="company-image" src='assets/company/assets/demmel-ag.jpg'/>
            <img class="logo" src="logos/logo-demmel-ag.png"/>
            <h3>DEMMEL AG<span>DEMMEL GRUPPE</span></h3>
            <p>Located in the beautiful region of Allgäu in southern Germany, Demmel AG is a leading company of industrial identification, decoration and communication.</p>
          </li>

          <li class="clearfix">
            <img class="company-image" src='assets/company/assets/demmel-gmbh.jpg'/>
            <img class="logo" src="logos/logo-demmel.png"/>
            <h3>DEMMEL<span>GmbH & Co. KG</span></h3>
            <p>Located in Lindau on the eastern side of Lake Constance (Bodensee in German) DEMMEL KG is specialised in trading for DEMMEL GRUUPPE.</p>
          </li>

          <li class="clearfix">
            <img class="company-image" src='assets/company/assets/rawe.jpg'/>
            <img class="logo" src="logos/logo-rawe.png"/>
            <h3>RAWE Electronic<span>DEMMEL GRUPPE</span></h3>
            <p>RAWE Electronic GmbH produces electronic assemblies and systems for a broad range of industries such as medical, industrial electronics, automotive and commercial vehicle industy.</p>
          </li>

          <li class="clearfix">
            <img class="company-image" src='assets/market-list/assets/image-placeholder-500x500.jpg'/>
            <img class="logo" src="logos/wafa.png"/>
            <h3>WAFA<span>DEMMEL GRUPPE</span></h3>
            <p>WAFA Germany GmbH, headquartered in Augsburg, specializes in the fields of plastic technology and injection molding as well as in the field of surface refinement of plastics. It is heavily positioned in the automotive sector as a supplier without its own end products.</p>
          </li>

          <li class="clearfix">
            <img class="company-image" src='assets/market-list/assets/image-placeholder-500x500.jpg'/>
            <img class="logo" src="logos/lbt.png"/>
            <h3>LBT<span>DEMMEL GRUPPE</span></h3>
            <p>LBT, headquartered in Munich, specializes in the laser marking of surfaces. This labeling form the fastest and easiest way to offer markings. Whether it is turning or milling parts, front panels, housings, medical devices or other moldings, the non-contact labeling process can be used to label almost every conceivable component in places where other printing processes fail. Describe your tasks, we will find a solution.</p>
          </li>

          <li class="clearfix">
            <img class="company-image" src='assets/market-list/assets/image-placeholder-500x500.jpg'/>
            <img class="logo" src="logos/logo-tefag.png"/>
            <h3>TEFAG<span>DEMMEL GRUPPE</span></h3>
            <p>TEFAG provides electronics design and engineering services. We work closely with the customers during the design phase, create specifications and drawings and if necessary we manage the full assembly and deliver the finished product.</p>
          </li>

          <li class="clearfix">
            <img class="company-image" src='assets/market-list/assets/image-placeholder-500x500.jpg'/>
            <img class="logo" src="logos/dmcc.png"/>
            <h3>DMCC<span>DEMMEL GRUPPE</span></h3>
            <p>Demmel Metal Components, headquartered in Nanjing (short form) DMCC, specializes in the manufacture and supply of high-quality metal parts and their assembly, offering high-class and modern solutions in the branches of mechanical engineering, plant construction, electronics and the automotive industry. In addition to metal components, the product range also includes stainless steel keypads, eg for ATMs and membrane membrane keyboards for industrial plants, products used in man-machine input systems (HMI, HID).</p>
          </li>

          <li class="clearfix">
            <img class="company-image" src='assets/market-list/assets/image-placeholder-500x500.jpg'/>
            <img class="logo" src="logos/logo-demmel.png"/>
            <h3>DEMMEL INC<span>DEMMEL GRUPPE</span></h3>
            <p>Demmel Inc. USA was established within the framework of the localization concept and the development of the NAFTA markets in 2016 and has already begun with its first assembly activities. In 2017, it will take over the complete production of components for the Automotive Division and serve the local American market.</p>
          </li>
        </ul>
      </article>

      <span id="history"></span>
      <article class="standard-article">
        <img src="images/circuit.png" class="circuit-divider"/>
        <h2>History</h2>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        <img src="assets/company/assets/history.jpg" class="center large history-image"/>
      </article>

      <span id="locations"></span>

      <article class="standard-article gray locations">
        <img src="images/circuit.png" class="circuit-divider white"/>
        <h2>Locations</h2>
        <p class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
      </article>
      <div id='map' class="map-box-component"></div>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>

    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoidGhld2lja2Vkd2ViZGV2IiwiYSI6ImNqODJkYzBwajJrcnkzMnMwZ2hnb2NmcGEifQ.44JG6hnm7JiMDBxZ6L35Jw';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/light-v9',
        center: [43.6793, 33.2232],
        zoom: 2
      });
      var geojson = {
        type: 'FeatureCollection',
        features: [
          {
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [103.790222, 1.296437]
            },
            properties: {
              title: 'CMI',
              description: 'singapore'
            }
          },
          {
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [9.851159, 47.582299]
            },
            properties: {
              title: 'Demmel Gruppe',
              description: 'germany'
            }
          }]
      };
      geojson.features.forEach(function(marker) {
        // create a HTML element for each feature
        var el = document.createElement('div');
        el.className = 'marker ' + marker.properties.description;
        // make a marker for each feature and add to the map
        new mapboxgl.Marker(el, { offset: [-50 / 2, -50 / 2] })
          .setLngLat(marker.geometry.coordinates)
          .addTo(map);
      });
      map.scrollZoom.disable();

      $('.parallax-window').parallax({imageSrc: 'assets/company/assets/header.jpg', position: 'top center'});

    </script>
  </body>
</html>
