@import '../../public/scss/palette';

.data-sheets-section {
  padding-top: 70px;

  h2 {
    margin-top: 0;
    text-align: left;
    font-size: 22px;

    span {
      display: block;
      text-transform: uppercase;
      margin-top: 15px;
      font-size: 30px;
    }
  }

  a {
    display: inline-block;
    float: left;
    cursor: pointer;

    img {
      cursor: pointer;
    }
  }

  .button-wrapper-center {
    margin-top: 40px;
  }
}

@media screen and (max-width: 780px) {
  .data-sheets-section {
    text-align: center;

    a {
      float: none;
    }

    h2 {
      text-align: center;
      margin: 20px 0 0;
    }
  }
}