<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Data Sheets - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Data Sheets - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/data-sheets">

  <meta name="twitter:title" content="Data Sheets - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html"></partial>

    <section class="data-sheets-section">
      <!-- SUB HEADER-->
      <article class="standard-article">
        <span class="dashed-header">&#8212; Designing &#8212;</span>
        <h1 class="animated pulse">Product Data Sheets</h1>
      </article>

      <article class="standard-article gray clearfix">
        <a href="pdf/data-sheets/assets/membrane_switches_data_sheet_20.01.2015.pdf" target="_blank">
          <img src="assets/data-sheets/assets/membrane-switch-1.jpg" class="small pull-left"/>
        </a>
        <h2>The Essential Key-Points to designing<span>membrane switches</span></h2>
        <p>All of our membrane switches are custom designed and manufactured to meet customer specifications.</p>
      </article>

      <article class="standard-article gray clearfix">
        <a href="pdf/data-sheets/assets/fsr_data_sheet_20.01.2015.pdf" target="_blank">
          <img src="assets/data-sheets/assets/force-sensor.jpg" class="small pull-left"/>
        </a>
        <h2>The Essential Key-Points to designing <span>force sensing resistors</span></h2>
        <p>A force sensing resistor is a variable resistor in which resistance decreased when pressure is applied.</p>
      </article>

      <article class="standard-article clearfix">
        <a href="pdf/data-sheets/assets/overlay_data_sheet_20.01.2015.pdf" target="_blank">
          <img src="assets/data-sheets/assets/graphic-overlay.jpg" class="small pull-left"/>
        </a>
        <h2>The Essential Key-Points to designing<span>graphic overlays</span></h2>
        <p>The Graphic Overlay is the surface that the end-user will see and touch first. It is an important element of your branding and the main interface between man and machine.</p>
      </article>

      <article class="standard-article gray clearfix">
        <a href="pdf/data-sheets/assets/security_foil_data_sheet_08.02.2017.pdf" target="_blank">
          <img src="assets/data-sheets/assets/security-foil.jpg" class="small pull-left"/>
        </a>
        <h2>The Essential Key-Points to designing<span>security foils</span></h2>
        <p>Our tamper proof security foil consists of a single or double sided printed circuit which uses different adhesive systems, so circuits tend to be broken when removal is attempted.</p>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
    <partial src="_hubspot.html"></partial>
  </body>
</html>
