@import '../public/scss/palette';

.homepage-section {
  min-height: calc(100vh - 260px);

  .first {
    margin-top: 0;
    padding-top: 20px;
  }

  .parallax-window {
    min-height: 600px;
    background: transparent;
    background-position: center right;
  }

  header {
    display: block;
    background-color: transparent;
    position: relative;

    .content {
      max-width: 55%;
      position: absolute;
      top: 230px;
      left: 100px;
    }

    h1 {
      font-size: 36px;
      color: #fff;
      text-align: left;
      margin: 0;
      text-transform: none;

      span {
        font-size: 20px;
      }
    }

    p {
      line-height: 24px;
      color: #fff;
      text-align: left;
    }
  }

  .main-header {
    background-color: $lightGray;
  }

  article {
    header {
      padding: 80px 20px;
      text-align: center;

      h1 {
        font-size: 40px;
        margin: 0 0 40px;
      }

      p {
        font-size: 24px;
        line-height: 38px;
        padding: 0 100px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .homepage-section header {
    .content {
      top: 0;
      max-width: 100%;
      left: 0;
      padding: 160px 20px 20px;
      background-color: rgba(46, 112, 168, 0.71);
      bottom: 0;
    }
  }
}

@media screen and (max-width: 780px) {
  .homepage-section {
    .parallax-window {
      min-height: 500px !important;
    }
  }
}