<!doctype html>
<html lang="en">
  <partial src="_head.html"></partial>
  <body>
    <partial src="_navbar.html" param="Homepage"></partial>
    <section class="homepage-section">
      <div class="main-header-image"></div>
      <article>
        <header class="animated fadeIn">
          <h1>CMI Brings <em>Innnovation</em> to <em>Manufacturing</em></h1>
          <p>Central Midori International (CMI) is a technology manugacturer bringing design and engineering expertise to make products better. With German oversight and Asian efficiency, CMI is skilled, flexible, and agile.</p>
        </header>
        <div class="standard-article-content gray">
          <h3>&#8212; Get started &#8212;</h3>
          <h4 class="animated fadeIn">Design</h4>
          <p>This is fake text. With over 25 years of experience, Central Midori is recognized in Asia as an expert in design, engineering and manufacturing. This is fake text. With over 25 years of experience, Central Midori is recognized.</p>

          <ul class="tiled-list-component">
            <li>
              <a href="#">
                <img src="assets/list-items/item8.png"/>
                <h5>Discuss some stuff with you</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/list-items/item7.png"/>
                <h5>Do some more stuff with you</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="assets/list-items/item9.png"/>
                <h5>Finalize the final stuff and smile</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt</p>
              </a>
            </li>
          </ul>

          <div class="button-wrapper-center">
            <button class="branded-btn">
              Talk to our design experts
            </button>
          </div>
        </div>

        <div class="standard-article-content">
          <h3>&#8212; Solutions &#8212;</h3>
          <h4>Manufacturing</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

          <partial src="_product-list.html"></partial>

          <div class="button-wrapper-center">
            <a href="/product/flexible-printed-electronics">
              <button class="branded-btn">
                Build your product
              </button>
            </a>
          </div>
        </div>

        <div class="standard-article-content gray">
          <h3>&#8212; featured &#8212;</h3>
          <h4>Our Development Center</h4>
          <p>At the heart of CMI's innovation paradigm is the state-of-the-art development centre where we can design, rapidly prototype, test, and iterate products. <a href="#">Learn More</a></p>

          <p><img src="assets/dev-centre.jpg" class="center"/></p>

          <div class="button-wrapper-center">
            <button class="branded-btn">
              Take a closer look
            </button>
          </div>
        </div>
        <div class="standard-article-content">
          <h3>&#8212; contact us &#8212;</h3>
          <h4>ready to start? Let us help</h4>
          <p>... contact form ...</p>
        </div>
      </article>
    </section>
    <partial src="_footer.html" data="Footer"></partial>
  </body>
</html>
