<!doctype html>
<html lang="en">
  <partial src="_head.html"></partial>
  <body>
    <partial src="_navbar.html" param="Homepage"></partial>
    <section class="homepage-section">
      <header class="main-header">
        <div class="content">
          <h1 class="animated slideInLeft">
            CMI Brings <em>Innnovation</em> to <em>Manufacturing</em>
          </h1>
        </div>
      </header>
      <article>
        <h2>Main Content Goes here</h2>
        <p>Lorem ipsum dolor</p>
      </article>
    </section>
    <partial src="_footer.html" data="Footer"></partial>
  </body>
</html>
