<!doctype html>
<html lang="en">
  <head>
    <!-- META TAGS-->
    <title>Central Midori International (CMI)</title>
    <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
    <meta property="og:title" content="Central Midori International (CMI)">
    <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
    <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
    <meta property="og:url" content="http://www.central-midori.com.sg/">

    <meta name="twitter:title" content="Central Midori International (CMI)">
    <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
    <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/product/human-machine-interface/assets/slide006.jpg">
    <meta name="twitter:card" content="summary_large_image">

    <partial src="_head.html"></partial>
    <script src="js/parallax.min.js"></script>
  </head>

    <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="Homepage"></partial>

    <section class="homepage-section">
      <!-- HEADER -->
      <header class="animated fadeIn homepage-header">
        <div class="parallax-window"></div>
        <div class="content">
          <h1>Central Midori International <span>(CMI)</span><br/> Bringing <em>
            Innnovation</em> to <em>Manufacturing</em></h1>
          <p class="center">CMI is a technology manugacturer bringing design and engineering
            expertise to make products better. With German oversight and Asian
            efficiency, CMI is skilled, flexible, and agile.</p>
        </div>
      </header>

      <!-- MANUFACTURING -->
      <article class="standard-article">
        <span class="dashed-header">&#8212; manufacturing &#8212;</span>
        <h1 class="brand-header">what we offer</h1>
        <partial src="product-list/_product-list.html" className="white"></partial>
      </article>

      <!-- DEVELOPMENT CENTER -->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; get started &#8212;</span>
        <h1 class="animated fadeIn">Development Centre</h1>
        <p class="center">The model is drawn from the lean startup. We combine project management and agile engineering.<br/>
          The development Center provides conceptual design, high speed prototyping and functional testing capabilities to reduce customer development cycle.
        </p>
        <partial src="design-list/_design-list.html"></partial>
        <div class="button-wrapper-center">
          <a href="/services">
            <button class="branded-btn">
              See our Services
            </button>
          </a>
        </div>
      </article>

      <!-- MARKETS -->
      <article class="standard-article">
        <span class="dashed-header">&#8212; featured &#8212;</span>
        <h1>Markets</h1>
        <partial src="market-list/_market-list.html"></partial>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
    <script>
      $('.parallax-window').parallax({imageSrc: 'assets/homepage-header2.jpg', position: 'right center'});
    </script>
  </body>
</html>
