<nav class="main-nav-bar">
  <a href="/">
    <img class="logo" src="assets/navbar/assets/logo.png"/>
  </a>
  <partial src="_navlist.html"></partial>
  <div class="phone">
    <i class="fa fa-phone" aria-hidden="true"></i>
    <a href="/contact">Contact</a>
  </div>
  <img class="bars" onClick="toggleMobileNav()" src="images/bars.png"/>
  <div class="slide-menu hidden" id="slideMenu">
    <partial src="_navlist.html"></partial>
    <div class="underlay" onClick="toggleMobileNav()"></div>
  </div>
</nav>

<script>
  $(document).ready(function() {
    var param = '@@param';

    $('#' + param +'Link').addClass("active");
  });

  var toggleMobileNav = function() {
    var menu = $('#slideMenu');
    if (menu.hasClass('hidden')) {
      menu.addClass('visible');
      menu.removeClass('hidden');
    } else {
      menu.addClass('hidden');
      menu.removeClass('visible');
    }
  }
</script>
