<nav class="main-nav-bar">
  <a href="/">
    <img class="logo" src="assets/navbar/assets/logo.png"/>
  </a>
  <ul class="main-list">
    <li><a href="product" id="productLink">Product</a></li>
    <li><a href="services" id="servicesLink">Services</a></li>
    <li><a href="manufacturing" id="manufacturingLink">Manufacturing</a></li>
    <li><a href="company" id="companyLink">Company</a></li>
  </ul>
  <div class="phone">
    <i class="fa fa-phone" aria-hidden="true"></i>
    <a href="tel:65-6779-1113">(+65) 6779 1113</a>
  </div>
</nav>

<script>
  $(document).ready(function() {
    $('#' + '@@param' + 'Link').addClass("active");
  });
</script>