@import '../../public/scss/palette';

.main-nav-bar {
  background-color: rgba(255, 255, 255, 0.93);
  padding: 10px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
  border-bottom: solid 1px $lightGray;

  a {
    text-decoration: none;
  }

  .logo {
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px;
  }

  .main-list {
    margin: 0;
    display: inline-block;
    vertical-align: middle;

    li {
      display: inline-block;
      margin: 0 40px 0 0;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: $brandGray;
      font-weight: 600;
      position: relative;
      transition: ease all .4s;

      &:after {
        transition: ease all .4s;
        opacity: 0;
        position: absolute;
        bottom: -22px;
        display: block;
        content: " ";
        height: 4px;
        width: 100%;
        background-color: $primaryColor;
      }

      &:hover {
        color: $primaryColor;

        &:after {
          opacity: 1;
        }
      }

      &.active {
        color: $primaryColor;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .phone {
    float: right;
    position: relative;
    top: 13px;

    a,
    .fa-phone {
      display: inline-block;
      vertical-align: middle;
      color: $brandLightBlue;
    }

    .fa-phone {
      margin-right: 5px;
    }

    a {
      font-weight: 600;
      cursor: pointer;
      font-size: 18px;
      text-decoration: none;
    }
  }

  .bars {
    display: none;
  }
}

@media screen and (min-width: 780px) {
  .slide-menu {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .main-nav-bar {
    .logo {
      height: 35px;
      margin-right: 15px;
    }
    .main-list a {
      font-size: 12px;
    }

    .main-list li {
      margin-right: 20px;
    }

    .phone {
      top: 9px;
    }

    .phone a {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 780px) {
  .main-nav-bar {
    padding-right: 20px;

    .main-list {
      display: none;
    }

    .phone {
      display: none;
    }

    .bars {
      display: block;
      height: 30px;
      float: right;
      position: relative;
      top: 5px;
    }

    .slide-menu {
      position: relative;
      overflow-y: scroll;

      .underlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(77, 77, 77, 0.12);
        cursor: pointer;
      }

      .main-list {
        display: block;
        z-index: 999;
        position: fixed;
        top: 0;
        width: 200px;
        background-color: #fff;
        bottom: 0;
        box-shadow: rgba(0, 0, 0, 0.28) 0 0 8px;
        transition: ease all .3s;
        padding-top: 60px;

        li {
          display: block;
          margin-bottom: 30px;
        }
      }

      &.visible {
        opacity: 1;

        .main-list {
          right: 0;
        }

        .underlay {
          display: block;
        }
      }

      &.hidden {
        opacity: 0;

        .underlay {
          display: none;
        }

        .main-list {
          right: -230px;
        }
      }
    }
  }
}
