.standard-article-text {
  padding: 60px 40px;

  p {
    line-height: 38px;

    .dropcase {
      font-size: 40px;
      font-weight: 700;
      color: $primaryColor;
      font-style: normal;
    }
  }

  img,
  .standard-slider-component {
    &.small {
      width: 250px;
    }
    &.medium {
      width: 450px;
    }
    &.large {
      width: 800px;
    }
    &.full {
      width: 100%;
    }
    &.pull-left {
      float: left;
      margin-right: 20px;
    }
    &.pull-right {
      float: right;
      margin-left: 20px;
    }
    &.center {
      margin: 0 auto;
      display: block;
      width: 400px;
      max-width: 100%;
    }
  }
}