<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Flexible Printed Circuit - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Flexible Printed Circuit - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/products/flexible-printed-circuit">

  <meta name="twitter:title" content="Flexible Printed Circuit - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
  <script src="js/parallax.min.js"></script>

</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="product"></partial>

    <section class="flexible-circuit-section">
      <partial src="product-nav/_product-nav.html" param="flexible-circuit"></partial>

      <!-- HEADER -->
      <div class="parallax-window"></div>

      <!-- SUB HEADER-->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; Product &#8212;</span>
        <h1 class="animated pulse">Flexible Circuit</h1>
        <p class="center">A technology with the potential to revolutionize electronics as we know it.</p>
      </article>

      <!-- MEMBRANE SWITCH PRIMARY CONTENT -->
      <article class="standard-article">
        <h2>Details</h2>
        <p>The most generally accepted definition of a Flexible Printed Circuit is a pattern of conductive traces laminated or printed on a flexible substrate.
          At Central Midori we specialize in selectively applying polymer materials using precision screen printing onto flexible substrate.</p>
        <p>The manufacturing technology is by nature “additive” which means that no material is removed during the production process as opposed to “subtractive” when circuits are formed by etching a metal foil (normally made of copper).
          With additive flexible printed circuits, conductors are typically printed with silver or carbon ink.</p>
        <p>Multi-layer circuits can be produced either by printing crossovers or silver-through-hole to provide an electrical connection between the top and bottom surfaces.
          Components are mounted using conductive adhesive.
          Besides simplicity and low cost our technology has a very low environmental impact with no chemical etching and plating processes.
        </p>
        <div class="button-wrapper-center">
          <a href="contact">
            <button class="branded-btn">
              Get your Graphic Overlay
            </button>
          </a>
        </div>
      </article>

      <!-- OTHER SOLUTIONS -->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; See Other &#8212;</span>
        <h1>Solutions</h1>
        <partial src="product-list/_product-list.html" className="gray"></partial>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
    <script>
      $('.parallax-window').parallax({imageSrc: 'assets/products/flexible-circuit/assets/header.jpg', position: 'top center'});
    </script>
    <partial src="_hubspot.html"></partial>
  </body>
</html>
