<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Pascal Delloue, General Manager - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Pascal Delloue, General Manager - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/terms">

  <meta name="twitter:title" content="Pascal Delloue, General Manager - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
</head>
<body>
<!-- NAVBAR -->
<partial src="navbar/_navbar.html" param="team"></partial>

<section class="team-section">
  <!-- TEAM -->
  <article class="standard-article gray">
    <div class="employee-bio-container">
      <div class="sidebar">
        <img src="assets/team/assets/senior-management/001.jpg"/>
        <h3>General Manager<br/><span>Pascal Delloue</span></h3>
      </div>
      <div class="content">
        <h1 class="animated pulse">Pascal Delloue</h1>
        <p>Pascal Delloue joined Central Midori in 2014 as General Manager to lead a new strategy towards printed electronics. He brings more than 30 years of experience in electronic manufacturing, with extensive traveling in North America, Europe, and Asia.</p>
        <p>Originally from France, he moved to New England in 1998 and is now an American citizen. During his free time, Pascal enjoys exploring Southeast Asia with his wife and long-distance paddling between the small islands south of Singapore.</p>
      </div>
    </div>
  </article>
</section>

<!-- FOOTER -->
<partial src="footer/_footer.html" data="Footer"></partial>
<partial src="_hubspot.html"></partial>

</body>
</html>
