<nav class="sub-nav">
  <ul>
    <li id="hmi">
      <a href="products/human-machine-interface">Human Machine Interface</a>
    </li>
    <li id="light-guides">
      <a href="products/light-guide/">Light Guide</a>
    </li>
    <li id="force-sensors">
      <a href="products/force-sensor/">Force Sensor</a>
    </li>
    <li id="flexible-circuit">
      <a href="products/flexible-circuit/">Flexible Circuit</a>
    </li>
    <li id="graphic-overlay">
      <a href="products/graphic-overlay">Graphic Overlay</a>
    </li>
    <li id="security-foil">
      <a href="products/security-foil/">Security Foil</a>
    </li>
    <li id="printed-battery">
      <a href="products/printed-battery/">Printed Battery</a>
    </li>
  </ul>
</nav>

<script>
  $(document).ready(function() {
    $('#' + '@@param').addClass("active");
  });
</script>
