<nav class="product-nav">
  <ul>
    <li id="flexible-circuit">
      <a href="product/flexible-circuit/">Flexible Circuit</a>
    </li>
    <li id="light-guides">
      <a href="product/light-guides/">Light Guides</a>
    </li>
    <li id="hmi">
      <a href="product/human-machine-interface">Human Machine Interface</a>
    </li>
    <li id="graphic-overlay">
      <a href="product/graphic-overlay">Graphic Overlay</a>
    </li>
    <li id="security-foil">
      <a href="product/security-foil/">Security Foil</a>
    </li>
    <li id="force-sensors">
      <a href="product/force-sensors/">Force Sensors</a>
    </li>
    <li id="printed-battery">
      <a href="product/printed-battery/">Printed Battery</a>
    </li>
  </ul>
</nav>

<script>
  $(document).ready(function() {
    $('#' + '@@param').addClass("active");
  });
</script>