<!doctype html>
<html lang="en">
<head>
  <!-- META TAGS-->
  <title>Human Machine Interface - Central Midori International (CMI)</title>
  <meta name="description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:title" content="Human Machine Interface - Central Midori International (CMI)">
  <meta property="og:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta property="og:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta property="og:url" content="http://www.central-midori.com.sg/products/human-machine-interface">

  <meta name="twitter:title" content="Human Machine Interface - Central Midori International (CMI)">
  <meta name="twitter:description" content="CMI is recognized in South East Asia for their expertise in flexible printed electronics. Our main products include membrane switch, graphic overlay, sensor and security foil.">
  <meta name="twitter:image" content="https://d303cm9mvk6s5k.cloudfront.net/assets/products/human-machine-interface/assets/slide006.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <partial src="_head.html"></partial>
  <script src="js/parallax.min.js"></script>
</head>
  <body>
    <!-- NAVBAR -->
    <partial src="navbar/_navbar.html" param="product"></partial>

    <section class="hmi-section">
      <partial src="product-nav/_product-nav.html" param="hmi"></partial>

      <!-- HEADER -->
      <div class="parallax-window"></div>

      <!-- SUB HEADER-->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; Product &#8212;</span>
        <h1 class="animated pulse">Human Machine Interface</h1>
        <p class="center">Expert in design, engineering and manufacturing of custom membrane switches.</p>
      </article>

      <!-- MEMBRANE SWITCH PRIMARY CONTENT -->
      <article class="standard-article">
        <h2>Membrane Switch</h2>
        <p>With over 25 years of experience, Central Midori is recognized in Asia as an expert in design, engineering and manufacturing of custom membrane switches. They are screen-printed on polyester and polycarbonate film using conductive ink and UV curable dielectric.</p>
        <div class="slider standard-slider-component medium pull-left">
          <img src="assets/products/human-machine-interface/assets/slide001.jpg" />
          <img src="assets/products/human-machine-interface/assets/slide002.jpg" />
          <img src="assets/products/human-machine-interface/assets/slide003.jpg" />
          <img src="assets/products/human-machine-interface/assets/slide004.jpg" />
          <img src="assets/products/human-machine-interface/assets/slide005.jpg" />
        </div>
        <p>Many of our customers come to us with a vague description of the application. The role of our engineers is to work closely with the customers to review the requirements, design the most cost effective solution and manufacture a few proof-of-concept prototypes.</p>
        <p>When the customer is satisfied and the design is frozen, we move to a full scale qualification using production equipment and a complete report is submitted to the customer. Upon final approval, the project transitions to production. Central Midori offers non-tactile constructions (without direct sensitive feedback) or tactile solutions with metal domes and polydomes, which provide immediate tactile response. A polydome can be designed (i.e. diameter and height) to meet the actuation force and the switch travel distance required by the application. Metal domes come in different shapes and sizes with actuation forces from 170 to 420 grams and travel distances typically from 0.178 to 0.89mm.</p>

        <p>Shielding is available for EMI/RFI protection and ESD discharge.</p>

        <p>Single point LEDs and passive components are assembled using low temperature conductive adhesive.</p>

        <p>Membrane switches can be customized with embossing. We offer Pillow and Rim embossing but also tiny dimple for visually impaired people.</p>

        <p>Our circuits can be terminated with ZIF connectors or Insulation Displacement Contacts (crimped) and plastic housing. Through-hole printing is also available for double-sided construction.</p>

        <p>Coated window lens are incorporated for LCD. It can be clear or color tinted with anti-glare, gloss or matt finish.</p>

        <p>Recent developments in light guide material are providing innovative solutions for a uniform backlighting using a limited count of side-firing LEDs and guide foils that are designed to evenly distribute light.</p>

        <p>Upon request, our membrane switches can be designed for IP67 environment protection certification.</p>

        <h2>Touch Sensor</h2>
        <img src="assets/products/human-machine-interface/assets/slide006.jpg" class="medium pull-left"/>
        <p>While some applications continue to require traditional tactile switches, the last 10 years have seen an explosion in touch technology. Capacitive touch market is still dominated by ITO substrate (Indium Tin Oxide) but several factors including cost, lack of flexibility and low adhesion on plastic film are limiting the possibilities of 3D design.</p>

        <p>Recent developments of clear conductive inks printed on flexible substrate offer technically attractive and cost effective solutions. CMI has been testing various inks from the top 3 suppliers on the market by printing on substrates such as PET, PC and PMMA. Flexibility and adhesion are significantly better than ITO. Total cost of material and processing is reasonably lower.</p>

        <div class="button-wrapper-center">
          <a href="contact">
            <button class="branded-btn">
              Get your Human Membrane Interface
            </button>
          </a>
        </div>
      </article>

      <!-- SPECIFICATIONS -->
      <article class="specifications-article gray">
        <h2>Specifications</h2>
        <ul>
          <li><span>Thickness tolerance:</span> +/- 10%</li>
          <li><span>Dimensional tolerance:</span> +/- 0.1mm (hard tool)</li>
          <li><span>Operating temperature range:</span> -20°C to +50°C</li>
          <li><span>Storage temperature range:</span><br/>-20°C to +80°C (no embossing)
            <br/>-20°C to +50°C (Edge ad Rim soft tool embossing)
            <br/>-20°C to +70°C (Hard tool embossing)</li>
          <li><span>Maximum operating and storage humidity:</span> 93%RH</li>
        </ul>
        <ul>
          <li><span>Life cycle:</span> 1 million actuation</li>
          <li><span>Max voltage:</span> 30V dc</li>
          <li><span>Max current:</span> 20mA (between contacts)</li>
          <li><span>Contact resistance:</span> <100ohms typical</li>
          <li><span>Dielectric resistance:</span><br/>10Mohms (with crossover)
            <br/>100Mohms (Thru hole)</li>
        </ul>
      </article>

      <!-- STACKUP -->
      <article class="standard-article">
        <h2>Construction Stackup</h2>
        <img src="assets/products/human-machine-interface/assets/stackup.jpg" class="large center"/>
      </article>
      <!-- OTHER SOLUTIONS -->
      <article class="standard-article gray">
        <span class="dashed-header">&#8212; See Other &#8212;</span>
        <h1>Solutions</h1>
        <partial src="product-list/_product-list.html" className="gray"></partial>
      </article>

    </section>

    <!-- FOOTER -->
    <partial src="footer/_footer.html" data="Footer"></partial>
    <script>
      $('.parallax-window').parallax({imageSrc: 'assets/products/human-machine-interface/assets/membrane_header.jpg', position: 'top center'});
    </script>
    <partial src="_hubspot.html"></partial>
  </body>
</html>
